<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.secondtestng1214.FolloeKabirBhai1214"/>
      <class name="com.secondtestng1214.BookingFlight1214"/>
     <class name="com.secondtestng1214.MyHolidayPackage"/>
      <class name="com.secondtestng1214.BookingCarRental"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
